*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    
}
header {
    justify-content: space-between;
    align-items: center;
    
}
nav{
    height: 95px;

}
.background-image{
    background-image: url('bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}
nav ul{
    float:right;
    margin-right: 40px;
    overflow: auto;
    
}
nav ul li{
    display: inline-block;
    line-height: 30px;
    margin: 10px 10px;
    font-style: italic;
}
nav ul li a{
    color:rgb(139, 15, 116);
    font-size:20px;
    text-decoration: none;
}
#login-box{
    width: 330px;
    height: 300px;
    background-color: aqua;
}
nav a{
    float: right;
    padding: 40px;
}
nav button{
    background-color:rgb(132, 28, 120);
    padding: 7px 20px;
    border-radius: 50px;
}
.img-gallery{
    width: 70%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 30px;

}
.img-gallery img{
    width: 100%;
    cursor: pointer;
}
.img-gallery img:hover{
    transform: scale(0.8) rotate(-15deg);
    border-radius: 20px;
    box-shadow: 0 32px 75px rgba(68, 77,136,0.2);
}
.full-img{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.full-img img{
    width: 90%;
    max-width: 500px;
}
.full-img span{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: aliceblue;
    cursor: pointer;
}
.hero{
    width: 100%;
    height: 100vh;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
h1{
    font-size: 30px;
    position: relative;
    margin-bottom: 80px;
}
h1::after{
    content: '';
    width: 300px;   
    height: 3px;
    background: linear-gradient(to right,#f44336,#9f4db5);
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%);
}
.loans{
    width: 90%;
    max-width: 700px;
    height: 300px;
    border-radius: 10px;
    box-shadow: -10px 10px 40px rgba(0,0,0,0.25);
    position: relative;
    overflow: hidden;
}
.card{
    height: 300px;
    padding: 15px;
    color: #777;
    line-height: 22px;
    box-shadow: border-box;
    background: #fff;
    position: relative;
}
.profile{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.profile img{
    width: 350px;
    border-radius: 50%;
    margin-right: 20px;
}
.profile h3{
    font-size: 26px;
    color: #f44336;
    margin-bottom: 8px;
}
#slide{
    width: 100%;
    padding-right: 60px;
    box-sizing: border-box;
    position: absolute;
    top:0;
    left:0;
    transition: 0.5s;
}
.sidebar{
    width: 60px;
    height: 100%;
    padding: 15px 0;
    box-sizing: border-box;
    background: #f44336;
    position: absolute;
    top:0;
    right:0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.sidebar img{
    width: 25px;
    padding: 5px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
}